*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 4650px;
    position: relative;
    z-index: 1500;
}
nav{
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px -5px  #101828;
    z-index: 10000;
}

svg{
    width: 30px;
    height: 30px;
}

.contact{
    border: 1px solid black;
    width: 80px;
    border-radius: 10px;
}

.contact div {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.contact div a{
    text-decoration: none;
    color: #344054;
}

ul li{
    list-style: none;
}
ul li a {
    text-decoration: none;
    font-size: 30px;
}

ul li a:hover {
   text-decoration: underline;
}
button{
    margin-left: 20px;
}
h1 a {
    text-decoration: none;
    color: black;
}
.container .row h1{
    z-index: 2000;
}

.getstarted{
    background-color: #1d1c1c;
    color: white;
}

.getstarted:hover{
    background-color: whitesmoke;
}

.learnmore{
    background-color: rgb(226, 220, 220);
}

.learnmore:hover{
    background-color: black;
    color: whitesmoke;
}
.photo{
    height: 450px;
    width: 500px;
    margin-top: 80px;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 1000;
}

.container .row .firstText{
    font-size: 60px;
    margin-bottom: 15px;
}
.container .row .firstPara{
    margin-bottom: 20px;
}
.container .row .yellowShape{
    width: 290px;
    height: 290px;
    background-color: #FCD53A;
    position: absolute;
    top: -116px;
    left: -122px;
    border-radius: 50%;
}

@media(min-width: 200px) and (max-width: 750px){
    .container .row .firstText{
        position: relative;
        z-index: 1500;
    }

}

@media (min-width: 751px) and (max-width: 850px){
    .container .row .firstText{
        position: relative;
        z-index: 1500;
    }
}

.container .row .photcont .blue{
    width: 494px;
    height: 494px;
    background-color: #1C5CFF;
    border-radius: 50%;
    position: absolute;
    top: 516px;
    left: 993px;
    
}

.chooseSection{
    width: 100%;
    margin-top: 150px;
    margin-right: 0;
    margin-left: 0;
    background-color: #F9FAFB;
    position: relative;
    z-index: 10000;
}
.categories{
    margin-top: 70px;
}
.border{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
}
.fSize{
    font-size: 12px;
}
.imgdiv{
    width: 100%;
    
}
.imgdiv img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.featuredContainer{
    background-color: #F9FAFB;
}

.featuredCourses {
    width: 100%;
}


.featuredCourses .cont .ro .featureBorder .copyWrite{
    font-size: 25px;
    font-weight: 700;
}

.featuredCourses .cont {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.featuredCourses .contContainer{
    width: 100%;
}

.featuredCourses .cont .ro{
    width: 100%;
}

.featuredCourses .featureBorder{
    border: 1px solid rgb(212, 212, 212) ;
    border-radius: 12px;
    padding: 0px;
    margin-top: 50px;
    box-shadow: 0px 4px 4px -5px #101828;
    width: 370px;
    background-color: #FFFFFF;
}

.featuredCourses .featureBorder:hover{
    background-color: black;
    color: #FCD53A;
    animation: colorchange ;
    animation-duration: 1s;
    box-shadow: 11px 18px 27px 3px rgba(0,0,0,0.75);
}

@keyframes colorchange{
    0%{
        background-color: #FFFFFF;
    }
    100%{
        background-color: black;
    }
}

.featuredCourses .viewCoursesBtn{
    padding: 7px 15px;
    background-color: black;
    color: white;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 100px;
}

.featuredCourses .viewCoursesBtn:hover{
    background-color: grey;
    color: black;
    animation: color;
    animation-duration: 0.3s;
}

@keyframes color{
    0%{
        background-color: black;
        color: white;
    }
    100%{
        background-color: grey;
        color: black;
    }
}

.section5{
    margin-top: 100px;
}

.section5 .container .row .arrowImageContainer .arrowImage:hover{
    cursor: pointer;
}

.section5 .scrollBySlide .divContainer{
    display: grid;
    grid-template-columns: 750px 750px 750px;
    gap: 20px;
    padding: 10px;
    overflow-x: scroll;
}

.section5 .scrollBySlide .divContainer .firstDivInSlide{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5px;
    background-color: #FFFFFF;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 4px 16px 0px rgba(16,24,40,0.75);
    border-radius: 10px;
    flex: none;
}

.section5 .scrollBySlide .divContainer .firstDivInSlide .contentHolder .starImages{
    margin-bottom: 15px;
    
}

.section5 .scrollBySlide .divContainer .firstDivInSlide:hover{
    background-color: black;
    color: #FFFFFF;
    animation: backchange;
    animation-duration: 0.3s;
    
}

@keyframes backchange{
    0%{
        background-color: #FFFFFF;
    }
    100%{
        background-color: black;
    }
}

.section5 .buttonCont{
    margin-top: 50px;
}

.section5 .buttonCont .buttonStyle{
    background-color: black;
    color: white;
    padding: 15px;
}

.section5 .buttonCont .buttonStyle:hover{
    background-color: grey;
    color: black;
}

.section6{
    margin-top: 100px;
    background-color: #FFEBEF;
    padding: 120px;
    position: relative;
}

.section6 .parent .child .imagePart .imageCont{
    width: 388px;
    height: 400px;
    z-index: 1000;
}

.section6 .parent .child .imagePart .imageCont img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: inherit;
    position: relative;
}

.section6 .parent .child .imagePart .imageCont .blueCircle{
    width: 140px;
    height: 140px;
    background-color: #175CD3;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: -40px;

}

.section6 .parent .child .imagePart .imageCont .yellowCircle{
    width: 84px;
    height: 84px;
    background-color: #FCD53A;
    border-radius: 50%;
    position: absolute;
    top:-30px;
    left: 350px;

}

.section6 .parent .child .content .getStartedBtn{
    background-color: black;
    color: white;
    margin: 0;
}

.section6 .parent .child .content .getStartedBtn:hover{
   background-color: yellow;
   color: black;
}

@media (min-width: 200px) and (max-width: 750px){
    .section6 .parent .child .imageCont {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .section6 .parent .child .imagePart .imageCont .blueCircle{
        display: none;
    }
    .section6 .parent .child .imagePart .imageCont .yellowCircle{
        display: none;
    }

}

@media (min-width: 751px) and (max-width: 850px){
    .section6 .parent .child .imageCont {
        margin-bottom: 50px;
    }
    
}

.footerSection {
    margin-top: 100px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 350px;
    background-color: #150B3D;
    border-radius: 20px;
    position: relative;
    z-index: 500;
}

.footerSection .firstChild {
    display: flex;
    flex-direction: column;
    
}

.footerSection .firstChild h1{
    color: white;
}

.footerSection .firstChild h1 .h1Span{
    margin-left: 50px;
    
}

.footerSection .secondChild form {
    display: flex;
}

.footerSection .secondChild form input{
    width: 320px;
    height: 60px;
    border-radius: 6px;
    padding:  5px 15px;
}

.footerSection .secondChild form input::placeholder{
    color: black;
    margin: 10px;
}


.footerSection .secondChild form .subscribeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 60px;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: #1C5CFF;
    color: white;
}

@media (min-width: 200px) and (max-width: 750px){
    .footerSection .secondChild form .subscribeBtn{
        position: relative;
        z-index: 1600;
    }
    .footerSection .blueDiv{
        background-color: transparent;
        display: none;
    }
    .footerSection .whiteDiv{
        display: none;
    }
    .footerSection .secondChild{
        width: 300px;
    }
    .footerSection .yellowDiv{
        display: none;
    }
}
@media (min-width: 751px) and (max-width: 850px){
    .footerSection .secondChild form .subscribeBtn{
        position: relative;
        z-index: 1600;
    }
}

.footerSection .blueDiv{
    width: 206px;
    height: 206px;
    position: absolute;
    background-color: #175CD3;
    border-radius: 50%;
    top: 100px;
    right: -100px;
}

.footerSection .yellowDiv{
    width: 176px;
    height: 176px;
    position: absolute;
    background-color: #FCD53A;
    border-radius: 50%;
    top: -60px;
    left: -50px;
}

.footerSection .whiteDiv{
    width: 176px;
    height: 176px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    top: 310px;
    left: 330px;
}

.upwardArrow{
    width: 40px;
    height: 50px;
    position: fixed;
    top: 90%;
    right: 50px;
    opacity: 1;
}

.upwardArrow img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.upwardArrow img:hover{
    cursor: pointer;
}

